<div ng-include="'/public/menu.html'"></div>

<div class="jumbotron">
  <h1><i class="fa fa-plus fa-lg" aria-hidden="true"></i></h1>
  <p class="lead">create new poll</p>
  <img src="/public/img/logo.png" alt="logo">
</div>

<div ng-cloak>
  <form name="newpoll" ng-submit="newpoll.$valid && newPoll()" novalidate>
    <p class="input-group">
      <span class="input-group-btn">
        <input type="text" class="form-control" placeholder="question" ng-model="form.pollq" required />
      </span>
    </p>
    <div ng-repeat="option in options">
      <p class="input-group">
        <span class="input-group-btn">
          <input type="text" class="form-control" placeholder="option" ng-model="option.name" required />
          <button type="submit" class="btn btn-primary" ng-show="$last" ng-click="addChoice()"><i class="fa fa-plus"></i></button>
        </span>
      </p>
    </div>
    <p align="right">
    <button type="submit" class="btn btn-primary">create</button>
    </p>
  </form>
</div>